<router-outlet *ngIf = "isSignedIn" (isLogout) = "handleLogout()"></router-outlet>
<div *ngIf = "!isSignedIn">

    <h2>Sign up</h2>
    <input type="text" #emailSignup >
    <input type="password" #passwordSignup>
    <button (click) = "onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
    
</div>
<hr>
<app-login> Log out</app-login>
<!-- <div *ngIf = "!isSignedIn">

    <h2>Sign in</h2>
    <input type="text" #email >
    <input type="password" #password>
    <button (click) = "onSignin(email.value,password.value)">Sign in</button>
    
</div> -->
<!-- <button (click) = "logout()" (isLogout) = "handleLogout()">Log out</button> -->
                                                                                                            