<router-outlet *ngIf = "isSignedIn" ></router-outlet>
<div *ngIf = "!isSignedIn" class="form-group">

    <h2>Sign up</h2>
    <input class="form-control" type="text" #emailSignup >
    <input type="password" #passwordSignup>
    <button type="submit" class="btn btn-primary" (click) = "onSignup(emailSignup.value,passwordSignup.value)">Sign in</button>
    
</div>
<hr>
<app-login class="bouton" type="submit" class="btn btn-primary" (isLogout) = "handleLogout()"></app-login>
<!-- <div *ngIf = "!isSignedIn">

    <h2>Sign in</h2>
    <input type="text" #email >
    <input type="password" #password>
    <button (click) = "onSignin(email.value,password.value)">Sign in</button>
    
</div> -->
<!-- <button (click) = "logout()" (isLogout) = "handleLogout()">Log out</button> -->
                                                                                                            